@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Libre Caslon Display', serif;
  color: #fff;
}

html,
body {
  overflow-x: hidden;
  min-height: 510vh;
  background: linear-gradient(#050a11, black);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .container {
  width: 96%;
  margin: 0px auto;
}

.divider {
  width: 100%;
  height: 2px;
  background: #fff;
}

.whitespace {
  width: 100%;
  height: 80px;
}

/* navbar */

.navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  font-size: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar .navbar-container .site-title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navbar .navbar-container .site-type {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navbar .navbar-container .site-year {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: right;
}

/* header */

.header {
  margin: 80px 0;
  z-index: 2;
}

.header .header-container p {
  font-size: 12rem;
  line-height: 150px;
}

@media (max-width: 900px) {
  .header .header-container p {
    font-size: 5.4rem;
  }
}

/* hero-image */

.hero-image {
  width: 100%;
  margin-top: -300px;
}

.hero-image::after {
  content: '';
  display: table;
  clear: both;
}

.hero-image .hero-image-container {
  width: 40%;
  float: right;
}

.hero-image .hero-image-container img {
  width: 100%;
}

@media (max-width: 900px) {
  .hero-image {
    margin-top: 40px;
  }
  .hero-image .hero-image-container {
    width: 100%;
  }
}

/* section-header */

.section-header .section-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  font-size: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* about */

.about {
  width: 100%;
}

.about::after {
  content: '';
  display: table;
  clear: both;
}

.about .about-container {
  width: 90%;
  float: right;
  display: flex;
}

.about .about-container .symbol {
  position: relative;
  right: 50px;
  bottom: 50px;
  font-size: 250px;
}

.about .about-container p {
  margin: 40px 0;
  font-size: 36px;
}

.about .icando {
  position: relative;
  margin-top: 80vh;
  margin-left: -120vh;
  bottom: 2vmax;
  right: 16vmax;
  align-items: center;
}

.about .icando p {
  font-size: 100px;
  text-align: center;
}

.about .icando ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.about .icando li {
  float: left;
}

.about .icando li a {
  display: block;
  padding: 50px;
  text-decoration: none;
  font-size: 55px;
  transition: all 0.2s ease-in-out;
}

.about .icando li .html:hover {
  color: #ee6328;
  text-shadow: 0 0px 40px rgba(238, 99, 40, 0.6);
}

.about .icando li .css:hover {
  color: #284de4;
  text-shadow: 0 0px 40px rgba(40, 77, 228, 0.6);
}

.about .icando li .react:hover {
  color: #05d4fa;
  text-shadow: 0 0px 40px rgba(5, 212, 250, 0.6);
}

.about .icando li .vue:hover {
  color: #3fb581;
  text-shadow: 0 0px 40px rgba(63, 181, 129, 0.6);
}

.about .icando li .python:hover {
  color: #fbd13f;
  text-shadow: 0 0px 40px rgba(251, 209, 63, 0.6);
}

@media (max-width: 900px) {
  .about .about-container {
    width: 100%;
  }
  .about .about-container p {
    font-size: 24px;
  }
}

/* projects */

.menu__item {
  position: relative;
  padding: 1.6vw 0 0 0;
  margin: 4px;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.menu__item-link a {
  cursor: pointer;
  text-decoration: none;
}

.menu__item-link::before {
  all: initial;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu {
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 8vw;
  padding: 1.6vw 1vw;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* clients */

/*.clients .clients-container p {
  font-size: 80px;
  line-height: 100px;
}

@media (max-width: 900px) {
  .clients .clients-container p {
    font-size: 36px;
    line-height: 50px;
    text-align: justify;
  }
}*/

/* socials */

.socials {
  padding: 20px 0;
}

.socials .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.socials .socials-container a {
  cursor: pointer;
  text-decoration: none;
  font-size: 64px;
  color: #fff;
}

.link-ig {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  mix-blend-mode: difference;
}
.link-em {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  mix-blend-mode: difference;
}
.link-gi {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  mix-blend-mode: difference;
}
.link-tw {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  mix-blend-mode: difference;
}
.link-ig a {
  cursor: pointer;
  text-decoration: none;
  color: #fa4;
}

.link-ig::before {
  all: initial;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.logo-ig {
  pointer-events: none;
  position: absolute;
  height: 15vh;
  max-height: 400px;
  opacity: 0;
  left: 18%;
  top: 95.2%;
  z-index: -1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.logo-em {
  pointer-events: none;
  position: absolute;
  height: 15vh;
  max-height: 400px;
  opacity: 0;
  left: 43.5%;
  top: 95.2%;
  z-index: -1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.logo-gi {
  pointer-events: none;
  position: absolute;
  height: 15vh;
  max-height: 400px;
  opacity: 0;
  left: 71%;
  top: 95.2%;
  z-index: -1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.logo-tw {
  pointer-events: none;
  position: absolute;
  height: 15vh;
  max-height: 400px;
  opacity: 0;
  left: 101%;
  top: 95.2%;
  z-index: -1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.link-ig:hover + .logo-ig {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-em:hover + .logo-em {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-gi:hover + .logo-gi {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-tw:hover + .logo-tw {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 900px) {
  .socials .socials-container a {
    font-size: 30px;
  }
}

@font-face {
  font-family: faux;
  src: url('font/faux.ttf') format('truetype');
}
