::-webkit-scrollbar {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth,
body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  color: #2c3333;
}

html,
body {
  min-height: 520vh;
  background-color: #f6f6f6;
  overflow-x: hidden;
}

.section-header .section-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  font-size: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-title {
  padding-left: 20px;
  font-family: 'pixelit';
  z-index: 100000;
}

.divider {
  width: 100%;
  height: 2px;
  background: #2c3333;
}

.first-page {
  position: relative;
  margin-top: 135px;
  text-align: center;
  z-index: 9999;
}

.title {
  position: relative;
  font-size: 20px;
  font-family: 'pixelreg';
  top: 60px;
}

.main {
  font-size: 190px;
  font-family: 'pixelit';
}

.sub {
  position: relative;
  font-size: 20px;
  letter-spacing: 10px;
  font-family: 'apple';
  bottom: 80px;
}

.circle1 {
  width: 900px;
  height: 900px;
  position: absolute;
  left: 140vh;
  top: 30vh;
}
.circle2 {
  width: 900px;
  height: 900px;
  position: absolute;
  left: -80vh;
  top: 180vh;
}
.circle3 {
  width: 900px;
  height: 900px;
  position: absolute;
  left: 140vh;
  top: 350vh;
}

p1 {
  font-size: 30px;
  font-family: 'apple';
}
p2 {
  font-size: 30px;
  font-family: 'pixelit';
  color: #ec994b;
  z-index: 999;
}

.icando h2 {
  font-size: 100px;
  font-family: 'pixelreg';
}

.icando ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  margin-right: 100px;
}

.icando li a {
  margin-left: 100px;
  font-family: 'pixelit';
  text-decoration: none;
  font-size: 55px;
  transition: all 0.2s ease-in-out;
}

.icando li .html:hover {
  color: #ee6328;
  text-shadow: 0 0px 40px rgba(238, 99, 40, 0.6);
}

.icando li .css:hover {
  color: #284de4;
  text-shadow: 0 0px 40px rgba(40, 77, 228, 0.6);
}

.icando li .react:hover {
  color: #05d4fa;
  text-shadow: 0 0px 40px rgba(5, 212, 250, 0.6);
}

.icando li .vue:hover {
  color: #3fb581;
  text-shadow: 0 0px 40px rgba(63, 181, 129, 0.6);
}

.icando li .python:hover {
  color: #fbd13f;
  text-shadow: 0 0px 40px rgba(251, 209, 63, 0.6);
}

.menu__item {
  position: relative;
  padding: 1.6vw 0 0 0;
  margin: 4px;
  color: #2c3333;
  font-family: 'pixelreg';
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #2c3333;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.menu__item-link a {
  cursor: pointer;
  text-decoration: none;
}

.menu__item-link::before {
  all: initial;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  filter: drop-shadow(2px 2px 10px #2c3333);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu {
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #2c3333;
  pointer-events: none;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 8vw;
  padding: 1.6vw 1vw;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.socials {
  padding-top: 400px;
}

.socials .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 110px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  font-family: 'pixelit';
}

.socials .socials-container a {
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
  color: #2c3333;
  transition: all 0.2s ease-in-out;
}

.socials-title {
  position: relative;
  font-size: 50px;
  font-family: 'apple';
  bottom: 200px;
}

.socials .socials-container .dr a:hover {
  color: #24292f;
  text-shadow: 0 0px 40px rgba(36, 41, 47, 0.6);
}
.socials .socials-container .ln a:hover {
  color: #284de4;
  text-shadow: 0 0px 40px rgba(40, 77, 228, 0.6);
}
.socials .socials-container .ig a:hover {
  color: #cb3c8a;
  text-shadow: 0 0px 40px rgba(203, 60, 138, 0.6);
}
.socials .socials-container .tw a:hover {
  color: #1c9aef;
  text-shadow: 0 0px 40px rgba(28, 154, 239, 0.6);
}

.footer {
  padding-top: 60px;
  font-family: 'apple';
}

@font-face {
  font-family: pixelreg;
  src: url('../font/pixel-regular.otf');
}
@font-face {
  font-family: pixelit;
  src: url('../font/pixel-italic.otf');
}
@font-face {
  font-family: apple;
  src: url('../font/apple.ttf');
}
